<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DfpApi" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  

  <connectionStrings>
    <add name="dfp" connectionString="SERVER=tcadops.cfcijtwmbc7u.us-east-1.rds.amazonaws.com;PORT=8080;DATABASE=tcadops;UID=tcadopsDb;PASSWORD=M4mm0uth$;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="reportSmtpUser" value="reporting@rpt.reduxmedia.com" />
    <add key="reportSmtpPassword" value="R1d1x2016" />
    <add key="errorSmtpUser" value="errors@rpt.reduxmedia.com" />
    <add key="errorSmtpPassword" value="R1d1x2016!" />
    <add key="smtpUser" value="reporting@rpt.reduxmedia.com" />
    <add key="smtpPassword" value="R1d1x2016" />
    <add key="toError" value="tcapiaccess@tc.tc" />
    <add key="threadsGroups" value="0" />
    <add key="NbReportingThreads" value="0" />
    <add key="HeartBeatDelay" value="5" />
    <add key="xmlFolder" value="C:\DriveTC\Reports\xml\" />
    <add key="outputFolder" value="C:\DriveTC\Reports\pdf\" />
    <add key="!foFolder" value="C:\DriveTC\Reports\fo\" />
    <add key="inFolder" value="C:\DriveTC\Reports\in\" />
    <add key="transformPath" value="C:\Program Files\Ecrion\XF Express 2015 v11.0.0 (64 bit)\Bin\URender.NET.exe" />
    <add key="localTransform" value="1" />
    <add key="gptRepo" value="C:\Projets\gpt\" />
    <add key="creativePolicyViolations" value="traffic@tc.tc" />
    <add key="salesforceOverwrite" value="traffic@tc.tc" />
    <add key="sharepointEmail" value="rapportbundle@tc.tc"/>
  </appSettings>
  <DfpApi>
    <add key="ApplicationName" value="TCMediaAPI" />
    <add key="NetworkCode" value="4916" />
    <add key="RetryCount" value="1" />
    <add key="OAuth2Scope" value="https://www.googleapis.com/auth/dfp" />
  </DfpApi>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Ads.Common" publicKeyToken="52807268f2b614dc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.0.0" newVersion="3.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Dfp" publicKeyToken="52807268f2b614dc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.25.0.0" newVersion="18.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>

    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    
  <webServices>
      <soapExtensionTypes>
        <add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.Ads.Common" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices></system.web>


  
  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1" />
    </settings>
  </system.net><system.diagnostics>
    <sources>
      <source name="AdsClientLibs.DeprecationMessages" switchName="AdsClientLibs.DeprecationMessages" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Application" />
        </listeners>
      </source>
      <source name="AdsClientLibs.DetailedRequestLogs" switchName="AdsClientLibs.DetailedRequestLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- Modify the initializeData attribute below to control the
                path to the detailed request log file. -->
          <add name="detailedRequestLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\Dfp\detailed_logs.log" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="AdsClientLibs.SummaryRequestLogs" switchName="AdsClientLibs.SummaryRequestLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- Modify the initializeData attribute below to control the
                path to the summary request log file. -->
          <add name="summaryRequestLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\Dfp\summary_logs.log" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- Use this trace switch to control the deprecation trace messages
          written by Ads* .NET libraries. The default is level is set to
          Warning. To disable all messages, set this value to Off. See
          http://msdn.microsoft.com/en-us/library/system.diagnostics.sourcelevels.aspx
          for all possible values this key can take. -->
      <add name="AdsClientLibs.DeprecationMessages" value="Warning" />
      <!-- Use this trace switch to control the detailed request logs written by Ads*
          .NET libraries. The default level is set to Off. Logs are generated at
          both the Error and Information levels. -->
      <add name="AdsClientLibs.DetailedRequestLogs" value="Off" />
      <!-- Use this trace switch to control the summary request logs written by
          Ads* .NET libraries. The default level is set to Off. Logs are
          generated at both the Error and Information levels. -->
      <add name="AdsClientLibs.SummaryRequestLogs" value="Off" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics></configuration>
